<!doctype html>
<html ng-app="myApp">
<head>
<title>
Chat Room
</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAzlg2viE-d6OzEtdkPNu6s4QgHEPCFrSM",
    authDomain: "chat-a2304.firebaseapp.com",
    databaseURL: "https://chat-a2304.firebaseio.com",
    projectId: "chat-a2304",
    storageBucket: "chat-a2304.appspot.com",
    messagingSenderId: "24127515706"
  };
  firebase.initializeApp(config);
</script>
<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
<!-- Your Javascript -->
<script src="javascripts/script.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome. You are logged in as
            <%= username %>.</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
	<li><a href="/user"><span class="glyphicon glyphicon-edit"></span> Edit User</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div ng-controller="chatController">
<form novalidate class="simple-form">
  Nickname: <input class="form-control" type="text" ng-model="user.name" /><br />
  Message: <input class="form-control" type="text" ng-model="user.chat" /><br />
  <input class="btn btn-default" type="submit" ng-click="update(user)" value="Submit" />
</form>
<br>
<div class="col-sm-6 col-sm-offset-3">
<div class="panel panel-default" style="  display: flex;justify-content: center;width:500px;min-height: 500px; max-height: 500px;overflow-y: scroll;">
<ul>
<li ng-repeat="line in chats | orderBy:'-'">
{{line.from}} - {{line.body}}
</li>
</ul>
</div>
</div>
</div>

</body>
</html>